﻿@model CallCenterService.ViewModels.EditUserViewModel

<h3>Edit user @Model.UserName</h3>
<div asp-validation-summary="All"></div>
<form asp-controller="Account" asp-action="EditUser">
    <input asp-for="UserId" type="hidden" />
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" />
        <span asp-validation-for="FirstName"></span>
    </div>
    <div>
        <label asp-for="LastName"></label>
        <input asp-for="LastName" />
        <span asp-validation-for="LastName"></span>
    </div>
    <div>
        <label asp-for="Address"></label>
        <input asp-for="Address" />
        <span asp-validation-for="Address"></span>
    </div>
    <div>
        <select asp-for="Role" asp-items="Model.Roles"></select>
    </div>
    <div>
        <label asp-for="Specialization"></label>
        <input asp-for="Specialization" />
        <span asp-validation-for="Specialization"></span>
    </div>
    <input type="submit" value="Edit" />
</form>