﻿@using Microsoft.AspNetCore.Identity;
@using CallCenterService.Models;
@model CallCenterService.ViewModels.UsersViewModel
@inject UserManager<ApplicationUser> userManager

<table class="table">
    <thead>
        <tr>
            <th>Username</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Address</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>@user.Address</td>
                <td>@user.Email</td>
                <td>@(string.Join(",", await userManager.GetRolesAsync(user)))</td>
            @if (user.UserName != "admin@admin.com")
            {
                <td><a asp-controller="Account" asp-action="EditUser" asp-route-id="@user.Id">Edit User</a></td>
                <td><a asp-controller="Account" asp-action="DeleteUser" asp-route-id="@user.Id">Delete User</a></td>
            }
            else {
                <td></td>
                <td></td>
            }
            </tr>
        }
    </tbody>
</table>

<a asp-action="AddUser">Add User</a>