@model CallCenterService.ViewModels.LoginViewModel

<form method="post" asp-controller="Account" asp-action="Login">
    <div asp-validation-summary="All"></div>

    <div>
        <label asp-for="UserName"></label>
        <input asp-for="UserName" />
        <span asp-validation-for="UserName"></span>
    </div>
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="RememberMe"></label>
        <input asp-for="RememberMe" />
        <span asp-validation-for="RememberMe"></span>
    </div>
    <div><p><input type="submit" value="Log In" /></p></div>

    <p>
        Admin<br />
        Login: admin<br />
        Password: Admin123!<br /><br />
        User management: http://localhost:xxxxx/account/users
    </p>
</form>