@model CallCenterService.ViewModels.AddProductFaultModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Fault</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <input type="hidden" asp-for="ClientId" />
            <input type="hidden" asp-for="Status" />
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ClientDescription" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="ClientDescription" class="form-control" />
            <span asp-validation-for="ClientDescription" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Product Id
                </th>
                <th>
                    Name
                </th>
                <th>
                    Type
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.Products)
            {
                <tr>
                    <td>@product.ProductID</td>
                    <td>@product.Name</td>
                    <td>@product.Type</td>

                    <td><input asp-for="ProductId" value="@product.ProductID" type="radio" /></td>
                </tr>
            }
        </tbody>
    </table>
</form>
<div>
    <a asp-action="Index">Back to List</a>
</div>
